<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= info.docname %> - CommonWiki</title>
</head>

<body>
    <div class="body">
        
        <%- include('navbar.ejs')%>
        <script src="/ColourgreyShorterJS/colourpicker.js"></script>
        <script src="/ColourgreyShorterJS/colourpicker.js"></script>
        <div class="wiki-content">
            <h1><%- info.docname %> <%- info.message %></h1>
            <div class="document"><%- info.content %></div>
        </div>
    </div>
    <script src="/ColourgreyShorterJS/wiki_content.js"></script>
</body>

</html>